# github codeowners file
#
# https://help.github.com/articles/about-codeowners/
#
# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# mentioned account names will be requested for
# review when someone opens a pull request.
*   @msiuts @guusvw @snowiow @bemica @djablonski-moia @oppermax @cbrgm @johannes-gehrs